.maze {
    position : relative;
    z-index : 1;
}

.draggable {
    position : absolute;
    cursor : move;
    z-index : 2;
}

#ui {
    border : 1px solid black;
    width : 400px;
    height : 250px;
}
