html, body {
  height : 100%;
  background-color: #778899;
}

.center {
  margin : 0 auto;
}

.spread {
  margin-top: 1rem;
}

.maze {
  position : relative;
  z-index : 1;
}

.draggable {
  position : absolute;
  cursor : move;
  z-index : 2;
}

.ui {
  width : 800px;
  height : 250px;
}

.btn {
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 70%);
  outline: none;
  cursor: pointer;
  padding: .5em 1em;
  border-radius: .3em;
}

.btn:hover {
  background-color: hsl(0, 0%, 80%);
  box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}

.btn.btn-primary {
  background-color: hsl(271, 70%, 50%);
  border-color: hsl(271, 70%, 30%);
  color: white;
}

.btn.btn-primary:hover {
  background-color: hsl(271, 70%, 40%);
  box-shadow: 0 0 5px 0 hsl(271, 70%, 30%);
}

.btn.btn-danger {
  background-color: hsl(0, 60%, 50%);
  border-color: hsl(0, 60%, 30%);
  color: white;
}

.btn.btn-danger:hover {
  background-color: hsl(0, 60%, 40%);
  box-shadow: 0 0 5px hsl(0, 60%, 30%);
}

.btn.btn-accent {
  background-color: hsl(200, 100%, 40%);
  border-color: hsl(200, 100%, 20%);
  color: white;
}

.btn.btn-accent:hover, .btn.btn-accent:focus {
  background-color: hsl(200, 100%, 30%);
  box-shadow: 0 0 5px 0 hsl(200, 100%, 20%);
}